.WarningCard {
    background: red;
    border-radius: 10px;
    width: 250px;
    height: 275px;
    display: inline-block;
    margin: 10px;
}

.PerkCard {
    background: #FFFFFF;
    border-radius: 10px;
    width: 100px;
    height: 100px;
    display: inline-block;
}